@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-Heavy.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-LightItalic.otf) format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-RegularItalic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-MediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-SemiBoldItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-BoldItalic.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Noir Std";
  src: url(/fonts/NoirStd-HeavyItalic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
}
