@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@font-face {
  font-family: "NoirStd-Bold";
  src: url(/fonts/NoirStd-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-BoldItalic";
  src: url(/fonts/NoirStd-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Heavy";
  src: url(/fonts/NoirStd-Heavy.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-HeavyItalic";
  src: url(/fonts/NoirStd-HeavyItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Italic";
  src: url(/fonts/NoirStd-Italic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Light";
  src: url(/fonts/NoirStd-Light.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-LightItalic";
  src: url(/fonts/NoirStd-LightItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Medium";
  src: url(/fonts/NoirStd-Medium.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-MediumItalic";
  src: url(/fonts/NoirStd-MediumItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Regular";
  src: url(/fonts/NoirStd-Regular.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-SemiBold";
  src: url(/fonts/NoirStd-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-SemiBoldItalic";
  src: url(/fonts/NoirStd-SemiBoldItalic.otf) format("opentype");
}
