:root {
  --white: #ffffff;
  --black: #000000;

  --yellow-100: #fff5cc;
  --yellow-200: #ffeb99;
  --yellow-300: #ffe166;
  --yellow-400: #ffd733;
  --yellow-500: #f3d03e;
  --yellow-600: #eabc00;
  --yellow-700: #d5ab00;
  --yellow-800: #aa8900;
  --yellow-900: #806700;

  --green-100: #d2f7e5;
  --green-200: #a6efcb;
  --green-300: #79e7b0;
  --green-400: #4cde96;
  --green-500: #26d07c;
  --green-600: #20ad67;
  --green-700: #198b53;
  --green-800: #13683e;
  --green-900: #0d4529;

  --blue-100: #e1f4ff;
  --blue-200: #c4e8ff;
  --blue-300: #88d2ff;
  --blue-400: #11a5ff;
  --blue-500: #0084d5;
  --blue-600: #0075bd;
  --blue-700: #0067a6;
  --blue-800: #004976;
  --blue-900: #002c47;

  --orange-100: #fee5dd;
  --orange-200: #fccbbb;
  --orange-300: #fbb09a;
  --orange-400: #f99678;
  --orange-500: #f87c56;
  --orange-600: #f65321;
  --orange-700: #d63909;
  --orange-800: #a02b07;
  --orange-900: #6b1c04;

  --red-100: #f9d3d0;
  --red-200: #f3a7a1;
  --red-300: #ed7b73;
  --red-400: #e74f44;
  --red-500: #da291c;
  --red-600: #b62217;
  --red-700: #911b13;
  --red-800: #6d140e;
  --red-900: #490e09;

  --neutral-100: #ececec;
  --neutral-200: #b1b1b1;
  --neutral-300: #9e9e9e;
  --neutral-400: #8b8b8b;
  --neutral-500: #777777;
  --neutral-600: #646464;
  --neutral-700: #505050;
  --neutral-800: #3d3d3d;
  --neutral-900: #2e2e2e;

  /* Global spacing variables */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 64px;
  --spacing-11: 80px;
  --spacing-12: 96px;
  --spacing-13: 128px;
  --spacing-14: 250px;

  /* Corner radius variables */
  --radius-1: 8px;
  --radius-2: 12px;
  --radius-3: 16px;
  --radius-4: 20px;
  --radius-5: 24px;
  --radius-6: 32px;
  --radius-7: 40px;
  --radius-8: 48px;
  --radius-9: 64px;
  --radius-10: 80px;

  /* Spaces for grid system */
  --gutter-grid: 1rem;
  --gutter-spacing: 0.25rem;
  --dashboard-menu-width-large: 320px;
  --dashboard-menu-width-medium: 136px;
}
