@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
  font-family: "NoirStd-Bold";
  src: local("NoirStd-Bold"),
    url(../assets/fonts/NoirStd-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-BoldItalic";
  src: local("NoirStd-BoldItalic"),
    url(../assets/fonts/NoirStd-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Heavy";
  src: local("NoirStd-Heavy"),
    url(../assets/fonts/NoirStd-Heavy.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-HeavyItalic";
  src: local("NoirStd-HeavyItalic"),
    url(../assets/fonts/NoirStd-HeavyItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Italic";
  src: local("NoirStd-Italic"),
    url(../assets/fonts/NoirStd-Italic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Light";
  src: local("NoirStd-Light"),
    url(../assets/fonts/NoirStd-Light.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-LightItalic";
  src: local("NoirStd-LightItalic"),
    url(../assets/fonts/NoirStd-LightItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Medium";
  src: local("NoirStd-Medium"),
    url(../assets/fonts/NoirStd-Medium.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-MediumItalic";
  src: local("NoirStd-MediumItalic"),
    url(../assets/fonts/NoirStd-MediumItalic.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-Regular";
  src: local("NoirStd-Regular"),
    url(../assets/fonts/NoirStd-Regular.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-SemiBold";
  src: local("NoirStd-SemiBold"),
    url(../assets/fonts/NoirStd-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "NoirStd-SemiBoldItalic";
  src: local("NoirStd-SemiBoldItalic"),
    url(../assets/fonts/NoirStd-SemiBoldItalic.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: "NoirStd-Regular", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/images/ComingSoon_BG.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  touch-action: none;
  max-width: 100vw;
  max-height: 100vh;
}
